/*  Background: "#0A0505"
    Panel: #191414
    Text: "#DDCCBB"
    MutedText: "#BDAEA0" ? #A38F87 <- newer version
    Focused: "#FF7500"
    Active: "#a05500"
    Inactive: "#433333"
*/
/*
	--border: #100B0B;
	--secondary: #FFC085;
}
*/

@font-face {
    font-family: "JetBrains Mono";
    src: url("../sources/fonts/JetBrainsMono-Regular.woff2") format("woff2");
}
* {
    font-family: "JetBrains Mono";
    padding: 0%;
    margin: 0%;
    border-radius: 15px;
}

body {
    overflow: hidden;

    background-color: #0A0505;
    color: #DDCCBB;

    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 15vh 85vh;

    place-items: center;
}

#content {
    grid-row: 2;

    margin: 10px;
}

#navigation {
    width: 50vw;

    grid-row: 1;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 20% 20% 20% 20%;

    margin: 10px;
    padding: 10px;
}

button {
    font-size: 1.25vw;

    grid-row: 1;

    color: #DDCCBB;
    background-color: #0A0505;

    border: 0;

    margin: 10px;
}
