/*  Background: "#0A0505"
    Text: "#DDCCBB"
    MutedText: "#BDAEA0"
    Focused: "#FF7500"
    Active: "#a05500"
    Inactive: "#433333"
*/
/*:root {
	--background: #0A0505;
	--foreground: #DDCCBB;
	--card: #191414;
	--card-foreground: #DDCCBB;
	--muted-foreground: #BDAEA0;
	--border: #100B0B;
	--primary: #FF7500;
	--primary-foreground: #000000;
	--secondary: #FFC085;
	--secondary-foreground: #000000;
	--accent: #FF7500;
	--accent-foreground: #000000;
}
*/

@font-face {
    font-family: "JetBrains Mono";
    src: url("sources/fonts/JetBrainsMono-Regular.woff2") format("woff2");
}
* {
    font-family: "JetBrains Mono";
    padding: 0%;
    margin: 0%;
    border-radius: 15px
}

body {
    overflow: hidden;

    background-color: #0A0505;
    color: #DDCCBB;

    display: grid;
    grid-template-columns: 10vw 90vw;
    grid-template-rows: 15vh 85vh;
}

#content {
    grid-column: span 2;
    grid-row: 2;

    margin: 10px;
}

#navigation {
    grid-column: 2;
    grid-row: 1;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 20% 20% 20% 20%;

    margin: 10px;
}

button {
    font-size: 1.25vw;

    grid-row: 1;

    color: #DDCCBB;
    background-color: #191414;

    border: 0;

    margin: 10px;
}
