body {
    background-color: #000000;
}

#mainPageh1 {
    font-size: 75px;
    font-family: 'Jetbrains Mono';
    font-weight: 800;
    color: #ed5b00;
}

button {
    background-color: #ed5b00;
    font-size: 25px;
    font-weight: 600px;
    margin: 20px;
    border-radius: 30px;
    padding: 5px;
}

* {
    font-family: 'Jetbrains Mono';
}

#container {
    display: grid;
    grid-template-columns: 75vw 25vw;
    grid-template-rows: 100vh;
    justify-content: center;
    align-content: center;
}

#console {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 7% 93%;
    align-content: center;
    background-color: #1c1c1c;
    color: #ed5b00;
    margin: 20px;
    border-radius: 30px;
}

#console-text {
    margin: 10px;
    margin-top: 20px;
    border-radius: 30px;
    background-color: #272727;
    padding: 20px;
}

#console-text-header {
    margin: 0%;
    margin-bottom: 10px;
}

#console-text-content {
    display: grid;
    margin: 0%;
    margin-left: 25px;
    font-size: 25px;
}

#console-text-content-element {
    margin: 0%;
    color: inherit;
}

#navigation {
    display: grid;
    grid-template-columns: 100%;
    align-content: center;
    justify-content: center;
    background-color: #1c1c1c;
    margin: 20px;
    border-radius: 30px;
}